
#Tamagotchi{
    width: 50px;
    height: 74px;
    background-image: url(font/characters/nittobotchi.png);
}
button,div{
    width:50px;
    height: 50px;
    background-color: aquamarine;
    border: 1px solid red;
}
#warningFood{
    background-color: yellow;
    display: none;
}
#warningHealth{
    background-color: green;
    display: none;
}
#warningRest{
    background-color: blue;
    display: none;
}
#warningHappiness{
    background-color: purple;
    display: none;
}